/*.jks
/Qu4tro/app/fabric.properties
.idea
Octo/Bateria.png
Octo/ic_play.png
Octo/icon lamp 192px.png
Octo/icon light.png
Octo/icon maps 192px.png
Octo/icon sharing.png
Octo/icon tracking.png
Octo/maps com logo octo.png 2.png
Octo/tela final/6 com fundo preto.png
Octo/tela final/6 share.png
Octo/tela final/6.png
